body {
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

form {
    padding: 2rem !important;
    border-radius: 10px;
}

label {
    display: flex;
    justify-content: space-between;
}

input:not([type="radio"]) {
    width: 300px;
}
